spring-rest-client/src/main/resources/xsd/schema.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ArrayOfExchangeRatesTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ExchangeRatesTable">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Table" />
							<xs:element type="xs:string" name="No" />
							<xs:element type="xs:date" name="EffectiveDate" />
							<xs:element name="Rates">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Rate" maxOccurs="unbounded"
											minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Currency" />
													<xs:element type="xs:string" name="Code" />
													<xs:element type="xs:float" name="Mid" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>